* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color:white;
}

.nav-color{
  background-color: #e3f2fd;
}

.form-content {
  border-radius: 1rem;
  box-shadow: 5px 10px 18px #888888;
}

.btn1 {
  border:none;
  outline: none;
  height:50px;
  width:100%;
  background-color: rgb(77, 130, 243);
  color:white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover{
  background-color: white;
  color:rgb(77, 130, 243);
  border: 1px solid rgb(77, 130, 243);;
}

.navbar-brand{
  color:white;
  font-size: x-large;
}

.index-text{
  display:flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.index-p, .index-h1{
font-size: 3rem;
}

.btn-style{
  padding: 12px 25px;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  display: block;
  float: left;
}